.canvas-page {
  display: flex;
  height: calc(100svh - 280px);
  max-height: 100dvh;
  color: #e3e3e3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-title {
  margin: 40px 0;
  font-weight: 800;
  font-size: clamp(1rem, 4vw, 2rem);
}

@media (max-width: 800px) {
  .canvas-page {
  height: calc(100svh - 330px);
  }
}