.canvas-page {
  display: flex;
  color: var(--color-goldenrod);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-title {
  margin: 40px 0;
  color: var(--color-light-gray);
  font-family: var(--font-additional);
  font-size: clamp(1rem, 4vw, 2rem);
}

.team-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.team-img,
.team-img2,
.team-img3,
.team-img4,
.team-img5 {
  display: flex;
  width: 70%;
}

