.w-screen {
  height: calc(100dvh - 280px);
  margin: auto;
}

@media (max-width: 800px) {
  .w-screen {
    height: calc(100dvh - 330px);
  }
}

@media (max-width: 600px) {
  .w-screen {
    height: calc(100dvh - 450px);
  }
}