.header {
  position: relative;
  display: flex;
  height: 80px;
  margin: 0 0 40px 0;
  justify-content: center;
  align-items: center;
  background-color: #216e58;
  box-shadow: 0 0 30px #000000;
}

.header-case {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: 0.7rem;
  width: 100%;
  max-width: 1418px;
  margin: 0 20px;
  height: 60px;
}

.header-wrapper {
  display: flex;
  width: 65%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}

.catalog {
  display: flex;
  width: 80px;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #e3e3e3;
  background-color: #225649;
  cursor: pointer;
  box-shadow: 0 0 3px #000000;
  transition: color 0.2s ease-in;
}


:is(.catalog, .menu-search, .list, .main-home-icon):hover {
   color: var(--color-khaki);
}

.search {
  display: flex;
  width: 70%;
  height: 100%;
  color: #e3e3e3;
  background-color: #225649;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 3px #000000;
}

.menu-search {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.input-search {
  width: 80%;
  height: 80%;
  font-size: 1rem;
  padding-left: 20%;
  color: var(--color-olive);
  background-color: #e3e3e3;
}

.menu-list {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}

.list,
.home-link {
  display: flex;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: #e3e3e3;
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.home-link {
  font-size: 3rem;
  margin-left: 0;
}

.main-home-icon {
  color: #e3e3e3;
  font-size: 2.5rem;
  transition: color 0.2s ease-in;
}

.home-link:hover {
  color: var(--color-olive);
}

.img-list,
.text-list {
  display: flex;
}

.home-link {
  font-size: 3rem;
}

.person-icon,
.pets-icon,
.order-icon,
.favorite-icon,
.cart-icon {
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .header {
    height: 160px;
    align-items: start;
  }

  .header-case {
    flex-direction: column-reverse;
    justify-content: start;
    margin: 20px;
    font-size: clamp(0.5rem, 0.5vw, 1rem);
    gap: 10px;
  }

  .header-wrapper {
    width: 100%;
    height: clamp(1rem, 5vw, 3rem);
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .list {
    font-size: clamp(0.4rem, 1.8vw, 0.8rem);
  }

  .main-home-icon {
    font-size: clamp(1rem, 2vw, 2.5rem);
  }

  .search {
    width: 75%;
  }
}