.header-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  min-width: 320px;
  height: auto;
  z-index: 2;
  background-color: var(--color-forest-green);
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 0 40px 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-jungle-green);
  box-shadow: 0 0 30px #000000;
  z-index: 2;
}

.header-wrapper:hover .add-header-menu {
  bottom: 0;
}

.header-case {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  max-width: 1480px;
  margin: 0 20px;
}

.header-inner {
  display: flex;
  width: 68%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}

.home-link-wrapper {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-header {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--color-light-gray);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 50px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:is(.menu-search, .list):hover {
  color: var(--color-khaki);
}

.search {
  display: flex;
  width: 70%;
  height: 100%;
  color: var(--color-light-gray);
  background-color: var(--color-forest-green);
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 3px #000000;
}

.menu-search {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-search {
  width: 80%;
  height: 80%;
  font-size: 1rem;
  padding-left: 20%;
  color: var(--color-olive);
  background-color: var(--color-light-gray);
}

.menu-list {
  display: flex;
  height: 45px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.list,
.home-link {
  position: relative;
  display: flex;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light-gray);
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.counter-cart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  color: #000000;
  background-color: var(--color-goldenrod);
  border-radius: 50%;
  font-size: 0.5rem;
  top: 0;
  right: 0;
  padding: 6px;
}

.sing-up-menu {
  position: absolute;
  display: none;
  width: 165px;
  height: 100px;
  color: var(--color-olive);
  background-color: var(--color-light-gray);
  right: -20px;
  bottom: -95px;
  border: 1px solid var(--color-olive);
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.list-sing-up:hover .sing-up-menu {
  display: flex;
}

:is(.button-login, .button-sing-up):hover {
  color: var(--color-light-gray);
}

.hint {
  margin-top: 10px;
}

.button-login,
.button-sing-up {
  display: flex;
  width: 80px;
  height: 20px;
  background-color: var(--color-goldenrod);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.home-link {
  font-size: 3rem;
  margin-left: 0;
}

.nav-home-link-wrapper {
  display: none;
  align-items: center;
}

.main-home-icon {
  color: var(--color-light-gray);
  padding: 5px;
  font-size: 2.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease-in;
}

.main-home-icon:hover {
  background-color: var(--color-goldenrod);
}

.img-list,
.text-list {
  display: flex;
}

.person-icon,
.pets-icon,
.order-icon,
.favorite-icon,
.cart-icon {
  font-size: 1rem;
}

.add-header-menu {
  position: absolute;
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 40px;
  bottom: 50px;
  padding-left: 25px;
  color: var(--color-light-gray);
  background-color: var(--color-olive-trans);
  justify-content: center;
  opacity: 0.9;
  transition: bottom 0.4s ease-in;
}

.wrapper-add-header-menu {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1480px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.add-menu-button-all,
.add-menu-catalog,
.add-menu-pet-food,
.add-menu-accessories,
.add-menu-promotions {
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid transparent;
  cursor: pointer;
}

:is(
    .add-menu-button-all,
    .add-menu-catalog,
    .add-menu-pet-food,
    .add-menu-accessories,
    .add-menu-promotions
  ):hover {
  border: 1px solid var(--color-light-gray);
}

.add-menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.canvas-aside-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--color-olive-trans);
  z-index: 3;
}

.visible-canvas-aside-menu {
  transform: translateX(0);
  opacity: 1;
}

.hidden-canvas-aside-menu {
  transform: translateX(100%);
  opacity: 0;
}

.aside-add-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  background-color: var(--color-light-gray);
  z-index: 4;
  transition: all 0.4s ease-in;
}

.open-aside-add-menu {
  transform: translateX(0);
}

.close-aside-add-menu {
  transform: translateX(-320px);
}

.aside-menu-header,
.aside-menu-team {
  display: flex;
  height: 40px;
  color: var(--color-light-gray);
  padding-left: 20px;
  background-color: var(--color-olive);
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.aside-menu-team {
  position: relative;
  color: var(--color-olive);
  background-color: var(--color-light-gray);
}

.aside-menu-team:hover {
  background-color: var(--color-khaki);
}

.aside-menu-arrow {
  position: absolute;
  right: 0;
  color: var(--color-light-gray);
}

.aside-menu-header:hover .select-dot {
  display: flex;
}

.select-dot {
  display: none;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-color: var(--color-coral);
  border-radius: 50%;
}

.button-close-aside-menu {
  position: absolute;
  display: flex;
  top: 2px;
  right: -30px;
  justify-content: center;
  align-items: center;
  color: var(--color-light-gray);
  border: 2px solid var(--color-light-gray);
  cursor: pointer;
}

@media (max-width: 800px) {
  .header {
    min-width: 320px;
    height: 130px;
    align-items: start;
  }

  .header-case {
    flex-direction: column-reverse;
    justify-content: start;
    margin: 20px;
    font-size: clamp(1rem, 1vw, 1.5rem);
    gap: 10px;
  }

  .header-inner {
    width: 100%;
  }

  .home-link-wrapper {
    display: none;
  }

  .nav-home-link-wrapper {
    display: flex;
    gap: 2px;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
  }

  .list {
    font-size: clamp(0.5rem, 1.8vw, 0.8rem);
  }

  .search {
    width: 100%;
    height: 40px;
  }

  .add-header-menu {
    font-size: clamp(0.5rem, 1.8vw, 0.8rem);
  }
}

@media (max-width: 600px) {
  .input-search {
    width: 68%;
    font-size: 0.8rem;
    padding-left: 10%;
  }
}

