.canvas-page {
  display: flex;
  height: calc(100svh - 280px);
  max-height: 100dvh;
  color: var(--color-goldenrod);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.orders-title {
  margin: 40px 0;
  font-weight: 800;
  font-size: clamp(1rem, 4vw, 2rem);
}

.orders-background {
  display: flex;
}

.orders-img {
  width: 320px;
}

@media (max-width: 800px) {
  .canvas-page {
  height: calc(100svh - 330px);
  }
}